Hello,

A password reset was requested for the email address {{ email }}.
Follow the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

In case you forgot your Safar username: {{ user.username }}

If clicking the link above doesn't work, copy and paste the URL
in a new browser window.

If you've received this email but didn't request a password reset, 
another user entered probably entered your email address by mistake while 
trying to reset a password. If you didn't make this request, you don't 
need to take any further action and can disregard this email.

Thanks,

The Safar Team
