{% extends 'base_users.html' %}

<title>Email Sent</title>

{% block content %}
  <div class="row justify-content-center">
    <div class="col-log-4 col-md-6 col-sm-8">
	  <div class="card">
	    <div class="card-body">
		  <h3 class="card-title">Reset your password</h3>
            <p style="text-align:center;">We've emailed you instructions for resetting your password, and you should receive the email shortly. If you don't see it in the next few minutes, be sure to check your spam folder</p>
			<a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to Login</a>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}
