{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script defer src="{% static 'js/about.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/fa.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"/>
</head>

<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="{% url 'home' %}" class="nav-link">
          <span class="link-text logo-text">Safar</span>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="angle-double-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link">
		  <i class="fas fa-home fa-primary fa-secondary fa-2x"></i>
          <span class="link-text">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'create_trip' %}" class="nav-link">
		  <i class="fas fa-compass fa-primary fa-secondary fa-2x"></i>
          <span class="link-text">Trips</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'about' %}" class="nav-link">
          <i class="fas fa-question fa-primary fa-secondary fa-2x"></i>
		  <span class="link-text">About</span>
        </a>
      </li>
      
	  <li class="nav-item" id="themeButton">
         <a href="{% url 'user_account' %}" class="nav-link">
		 <i class="fas fa-user fa-primary fa-secondary fa-2x"></i>
		  {% if user.is_authenticated %}
           <span class="link-text">Profile</span>
		  {% else %}
		   <span class="link-text">Log In</span>
		  {% endif %}
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <div class="about-section">
	  <h1 class="about">About Safar</h1>
	  <p class="about">This is what we do</p>
	  <p class="about">This is why we do it</p>
	</div>
    
	<h2 style="text-align:center">Our Team</h2>
	<div class="container">
	  <div class="column">
	    <div class="card">
		  <img src="{% static 'img/beanstalk.png' %}" alt="Vincent" style="width:100%">
		  <div class="row">
		    <h2>Vincent Goyette</h2>
			<p class="title">Developer</p>
			<p>I go to Notre Dame!</p>
			<a href="mailto:vgoyette@nd.edu">vgoyette@nd.edu</a>
	      </div>
		</div>
	  </div>
	
	  <div class="column">
	    <div class="card">
		  <img src="{% static 'img/beanstalk.png' %}" alt="Nick" style="width:100%">
		  <div class="row">
		    <h2>Nick Locascio</h2>
			<p class="title">Developer</p>
			<p>I go to Notre Dame!</p>
			<a href="mailto:nlocasci@nd.edu">nlocasci@nd.edu</a>
	      </div>
		</div>
	  </div>
	  
	  <div class="column">
	    <div class="card">
		  <img src="{% static 'img/beanstalk.png' %}" alt="Jack" style="width:100%">
		  <div class="row">
		    <h2>Jack Bigej</h2>
			<p class="title">Developer</p>
			<p>I go to Notre Dame!</p>
			<a href="mailto:jbigej@nd.edu">jbigej@nd.edu</a>
	      </div>
		</div>
	  </div>

	  <div class="column">
	    <div class="card">
		  <img src="{% static 'img/beanstalk.png' %}" alt="Hind" style="width:100%">
		  <div class="row">
		    <h2>Hind Zahour</h2>
			<p class="title">Developer</p>
			<p>I go to Notre Dame!</p>
			<a href="mailto:hzahour@nd.edu">hzahour@nd.edu</a>
	      </div>
		</div>
	  </div>

    </div>

  </main>
</body>
