{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script defer src="{% static 'js/about.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/fa.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
  <link href= "https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <title>About</title>
  <style>
    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 25%;
      padding: 0 10px;
	  margin-bottom: 10px;
    }

    .row {margin: 0 -5px;}

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    @media screen and (max-width: 700px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }

    .card-text {
      color: white;
    }

    .card-link {
      color: orange;
    }

    .card-title {
      font-size: 40px;
      font-family: 'Cookie';
      background: -webkit-linear-gradient( #FFAC33, #EE82EE);
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
    }
  </style>
</head>


<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="{% url 'home' %}" class="nav-link">
          <span class="link-text logo-text">Safar</span>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="angle-double-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link">
		  <i class="fas fa-home fa-primary fa-secondary fa-2x"></i>
          <span class="link-text">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'create_trip' %}" class="nav-link">
		  <i class="fas fa-compass fa-primary fa-secondary fa-2x"></i>
          <span class="link-text">Trips</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'about' %}" class="nav-link">
          <i class="fas fa-question fa-primary fa-secondary fa-2x"></i>
		  <span class="link-text">About</span>
        </a>
      </li>
      
	  <li class="nav-item" id="themeButton">
         <a href="{% url 'user_account' %}" class="nav-link">
		 <i class="fas fa-user fa-primary fa-secondary fa-2x"></i>
		  {% if user.is_authenticated %}
           <span class="link-text">{{ user.username }}</span>
		  {% else %}
		   <span class="link-text">Log In</span>
		  {% endif %}
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <div class="about-section">
	    <h1 style="font-size:72px;font-family:'Cookie';background:-webkit-linear-gradient(#FFAC33, #EE82EE);-webkit-background-clip:text;-webkit-text-fill-color: transparent;">About Safar</h1>
	    <p class="card-text">Safar is dedicated to taking the stress out of roadtripping. We love the journey, but hate worrying about how to get to the destination.</p>
	    <p class="card-text">Our team is made up of 4 students at the University of Notre Dame who have a passion for travel and software development. Safar is the result of a project for 
        <a href="https://www3.nd.edu/~skumar5/teaching/2020-fall-sdp.html" class="card-link">CSE 40793</a>.
      </p>
	  </div>
    
	<h2 style="text-align:center">Our Team</h2>
	  <div class="column">
	    <div class="card" style="background-color: #474e5d;">
		    <img src="{% static 'img/vincent.JPG' %}" alt="Vincent" style="width:100%; height:40%">
		    <div class="row">
		      <h2 class="card-title">Vincent Goyette</h2>
			    <p class="title">UI and Autentication Guru</p>
			    <p class="card-text">Junior at Notre Dame</p>
			    <p class="card-text">Late for stuff all the time</p>
			    <a href="mailto:vgoyette@nd.edu" class="card-link">vgoyette@nd.edu</a>
	      </div>
		  </div>
	  </div>
	
	  <div class="column">
	    <div class="card" style="background-color: #474e5d;">
		    <img src="{% static 'img/nick.JPG' %}" alt="Nick" style="width:100%; height:40%;">
		    <div class="row">
		      <h2 class="card-title">Nick Locascio</h2>
			    <p class="title">API Expert and Zoom Host</p>
			    <p class="card-text">Junior at Notre Dame</p>
			    <p class="card-text">Backwards hat aficionado</p>
			    <a href="mailto:nlocasci@nd.edu" class="card-link">nlocasci@nd.edu</a>
	      </div>
		  </div>
	  </div>
	  
	  <div class="column">
	    <div class="card" style="background-color: #474e5d;">
		    <img src="{% static 'img/jack.JPG' %}" alt="Jack" style="width:100%; height:40%">
		    <div class="row">
		      <h2 class="card-title">Jack Bigej</h2>
			    <p class="title">Database and View Master</p>
			    <p class="card-text">Junior at Notre Dame</p>
			    <p class="card-text">Play piano during meetings</p>
		    	<a href="mailto:jbigej@nd.edu" class="card-link">jbigej@nd.edu</a>
	      </div>
		  </div>
	  </div>

	  <div class="column">
	    <div class="card" style="background-color: #474e5d;">
		    <img src="{% static 'img/hind.JPG' %}" alt="Hind" style="width:100%; height:40%">
		    <div class="row">
		      <h2 class="card-title">Hind Zahour</h2>
		    	<p class="title">Design and UI Virtuoso</p>
			    <p class="card-text">Senior at Notre Dame</p>
			    <p class="card-text">Came up with the name Safar</p>
			    <a href="mailto:hzahour@nd.edu" class="card-link">hzahour@nd.edu</a>
	        </div>
		  </div>
	  </div>


  </main>
</body>
