<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
        <style>
            body {margin: 0; padding: 0;}
        </style>
    </head>
    <body>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
        <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
            type="text/css"
        />
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
        <style>
            #geocoder {
                position: absolute;
                width: 50px;
            }

            #geocoder_end {
                margin-left: 50px;
            }

            button {
                margin-top: 100px;
                margin-left: 10px;
            }
        </style>
        <div id="geocoder"></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoic2FmYXJ0ZWFtMjAyMCIsImEiOiJja2dtbHRsbW4wMWtlMnhxbDNheGJ6OWY5In0.sQWD2q6skgQK31V-ip2Ltg';

            var start_location = "";
	        var destination = "";

            var geocoder = new MapboxGeocoder ({
                accessToken: mapboxgl.accessToken,
                types: 'country,region,place,postcode,locality,neighborhood'
            }).on('result', function({result}) {
                console.log(result)
                start_location = result.place_name;
                //start = result.geometry.coordinates;
                //console.log(address);
            });
            geocoder.addTo('#geocoder')

            var geocoder = new MapboxGeocoder ({
                accessToken: mapboxgl.accessToken,
                types: 'country,region,place,postcode,locality,neighborhood'
            }).on('result', function({result}) {
                console.log(result)
                //var address = result.place_name;
		        destination = result.place_name;
                //end = result.geometry.coordinates;
                //console.log(address);
            });
            geocoder.addTo('#geocoder')

            function display() {
                console.log(start_location + " --> " + destination); 
            }

			function create_trip(){
				display();
				var url = "";
				var req = new XMLHttpRequest();
				req.open('POST', url, true);
				req.onload = function(e){
					//return_dict = JSON.parse(req.body);
                    //console.log(return_dict)
				//	window.location.href = "../directions/";
				}
				var dict = {'start_location':start_location, 'destination':destination};
				var json_dict = JSON.stringify(dict);
				console.log(json_dict);
				req.send(json_dict);
			}
	

        </script>
        <button type="submit" onclick="create_trip()">Go!</button>
    </body>
</html>
