<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            #map {
                position: absolute;
                top: 0px;
                bottom: 0;
                width: 100%;
            }

            #itinerary {
                position: absolute;
                margin: 20px;
                width: 25%;
                top: 1%;
                left: 0px;
                bottom: 1%;
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.9);
                overflow-y: scroll;
                font-family: sans-serif;
                font-size: 0.8em;
                line-height: 2em;
            }

            .duration {
                font-size: 2em;
            }

            .geocoder {
                position: absolute;
                z-index: 1;
                width: 50%;
                left: 50%;
                margin-left: -10%;
                top: 20px;
            }

			.sidenav {
				height: 92%;
  				width: 80%;
  				position: absolute;
  				top: 2%;
  				background-color: rgba(255, 252, 187, .5);
  				overflow-x: hidden;
  				padding: 20px;
			}

			.itinerary a, .dropdown-btn {
				padding: 6px 8px 6px 16px;
				text-decoration: none;
				font-size: 20px;
				color: #818181;
				display: block;
				border: none;
				background: none;
				width: 100%;
				text-align: left;
				cursor: pointer;
				outline: none;
			}

			.itinerary .button {
                height: 50px;
                right: 100px;
                width: 20%;
			}

			.itinerary .dayForm{
				top: 50%;
				width: 80%;
				position: absolute;
				background-color: rgba(255, 255, 255, .5);
		
			}

			.dropdown-container {
				display: none;
				padding-left: 8px;
		
			}

			.fa-caret-down {
  				float: right;
  				padding-right: 8px;
			}

            /* Some media queries for responsiveness */
			@media screen and (max-height: 450px) {
  				.sidenav {padding-top: 15px;}
  				.sidenav a {font-size: 18px;}
			}

			.error_label {
				color: rgba(255, 0, 0, 1);
			}		


        </style>
    </head>
    <body>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
        <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
            type="text/css"
        />
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
        <div id='map'></div>
        <div id="directions" class="directions"></div>
		<div id="itinerary">

				<input type="number" id="numDays" min="1">
				<button type="submit" onclick="setDays()">Set Days</button>
				<button class="dropdown-btn">Days
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-container">
					<button type="submit" onclick="setDayVar(1)">Day 1</button>
					<button type="submit" onclick="setDayVar(2)">Day 2</button>
					<button type="submit" onclick="setDayVar(3)">Day 3</button>
					<button type="submit" onclick="setDayVar(4)">Day 4</button>
					<button type="submit" onclick="setDayVar(5)">Day 5</button>
					<button type="submit" onclick="setDayVar(6)">Day 6</button>
					<button type="submit" onclick="setDayVar(7)">Day 7</button>
					<button type="submit" onclick="setDayVar(8)">Day 8</button>
					<button type="submit" onclick="setDayVar(9)">Day 9</button>
					<button type="submit" onclick="setDayVar(10)">Day 10</button>
					<button type="submit" onclick="setDayVar(11)">Day 11</button>
					<button type="submit" onclick="setDayVar(12)">Day 12</button>
					<button type="submit" onclick="setDayVar(13)">Day 13</button>
					<button type="submit" onclick="setDayVar(14)">Day 14</button>
				</div>

				<label>Day Selected: </label>
				<label id="daySelected"></label>

				<div class="dayForm">
					<input type="text" id="action_desc" required>
					<input type="time" id="action_time" min="00:00" max="23:59" required>
					<button type="submit" onclick="setNewAction()">Add Action</button>
				</div>
				<div>
					<label class="error_label" id="error_label"></label>
				</div>
				<div id="dayItinerary">
					<label>Day Schedule: </label>
                </div>
                <button type="submit" onclick="save_trip()">Save Trip</button>

                <div class="suggestionInput">
                    <h3>Suggestion Type:</h3>
                    <input id="hotels" type="radio" name="suggestion" value="hotels" checked>
                    <label for="hotels">Hotels</label>
                    <input id="restaurants" type="radio" name="suggestion" value="restaurants">
                    <label for="restaurants">Restaurants</label>
                    <input id="nightlife" type="radio" name="suggestion" value="nightlife">
                    <label for="nightlife">Nightlife</label>
                </div>

		</div>

        <script>
			var trip_schedule = {};
			var num_days = 1;
			var curr_day = 1;
/*
			function allocateDays(){
				for (i = 1; i <= days; i++){
					day_tag = "Day " + i.toString();
					var day_option = document.createElement(day_tag);
					
				}
			}
*/

			for (i = 0; i < num_days; i++){
				
			}

			function setNewAction(){
				var action_time = document.getElementById("action_time").value;
				var action_desc = document.getElementById("action_desc").value;
				
				console.log(document.getElementById("action_time").value);
				console.log(document.getElementById("action_desc").value);
				if (action_time === ""){
					document.getElementById("error_label").innerText = "Error: Complete Time Field";

				}else if (action_desc === ""){
					document.getElementById("error_label").innerText = "Error: Complete Description Field";
				}else{
					document.getElementById("error_label").innerText = "";
					if (curr_day in trip_schedule){
						var new_action = {};
						new_action["action_time"] = document.getElementById("action_time").value;
						new_action["action_desc"] = document.getElementById("action_desc").innerText;

						trip_schedule[curr_day].push(new_action);

					}else{
						var new_day = [];
						var new_action = {};

						new_action["action_time"] = action_time;
						new_action["action_desc"] = action_desc;

						new_day.push(new_action);

						trip_schedule[curr_day] = new_day;
					}

					console.log(trip_schedule);
					for (action in trip_schedule[curr_day]){
						console.log(trip_schedule[curr_day][action]);
					}
				}


			}

			function setDayVar(n){
				curr_day = n;
				document.getElementById("daySelected").innerText = curr_day;
				console.log(curr_day);
			}

			function setDays(){
				num_days = document.getElementById("numDays").value;
				console.log(num_days);
			}

			var dropdown = document.getElementsByClassName("dropdown-btn");
			var i;

			for (i = 0; i < dropdown.length; i++) {
			  dropdown[i].addEventListener("click", function() {
				  var dropdownContent = this.nextElementSibling;
				  if (dropdownContent.style.display === "block") {
				  	dropdownContent.style.display = "none";
				  } else {
				  	dropdownContent.style.display = "block";
			  	}
			  });
			}



            mapboxgl.accessToken = 'pk.eyJ1Ijoic2FmYXJ0ZWFtMjAyMCIsImEiOiJja2dtbHRsbW4wMWtlMnhxbDNheGJ6OWY5In0.sQWD2q6skgQK31V-ip2Ltg';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [-122.662323, 45.523751],
                zoom: 9
            });

            var directions = new MapboxDirections ({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl,
                interactive: false
            });

            map.addControl(directions, "top-right");

            // have user drag a marker to get suggestions
            var marker = new mapboxgl.Marker({
                draggable: true
            })
                .setLngLat([-122.662323, 45.523751])
                .addTo(map);

            function onDragEnd() {
                var lngLat = marker.getLngLat();
                console.log("lng: " + lngLat.lng + " lat: " + lngLat.lat);
                map.flyTo({center: marker.getLngLat(), zoom: 13})
                getSuggestions(lngLat.lng, lngLat.lat);
            }

            marker.on('dragend', onDragEnd);

            var start_location = "";
            var destination = "";
            var origin_coords = 0;
            var dest_coords = 0;
            var count = 0;

            directions.on("route", function(e) {
                console.log(e);

                // reverse geocode origin
                var origin = directions.getOrigin();
                origin_coords = origin.geometry.coordinates;
                marker.setLngLat([origin_coords[0], origin_coords[1]]);
                var origin_url = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + origin_coords[0] + ',' + origin_coords[1] + '.json?access_token=pk.eyJ1Ijoic2FmYXJ0ZWFtMjAyMCIsImEiOiJja2dtbHRsbW4wMWtlMnhxbDNheGJ6OWY5In0.sQWD2q6skgQK31V-ip2Ltg';

                function originReqListener() {
                    var json = JSON.parse(this.response);
                    var substring = "place"
                    for(let i = 0; i < json.features.length; i++) {
                        if(json.features[i].id.includes(substring)) {
                            start_location = json.features[3].place_name;
                            break;
                        }
                    }
                }

                var req = new XMLHttpRequest();
                req.addEventListener("load", originReqListener);
                req.open('GET', origin_url);
                req.send();

                // reverse geocode destination
                var dest = directions.getDestination();
                var dest_coords = dest.geometry.coordinates;
                var dest_url = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + dest_coords[0] + ',' + dest_coords[1] + '.json?access_token=pk.eyJ1Ijoic2FmYXJ0ZWFtMjAyMCIsImEiOiJja2dtbHRsbW4wMWtlMnhxbDNheGJ6OWY5In0.sQWD2q6skgQK31V-ip2Ltg';

                function destReqListener() {
                    var djson = JSON.parse(this.response);
                    var substring = "place"
                    for(let i = 0; i < djson.features.length; i++) {
                        if(djson.features[i].id.includes(substring)) {
                            destination = djson.features[i].place_name;
                            break;
                        }
                    }
                    console.log(start_location);
                    console.log(destination);
                    create_trip(start_location, destination);
                }

                var dreq = new XMLHttpRequest();
                dreq.addEventListener("load", destReqListener);
                dreq.open('GET', dest_url);
                dreq.send();
            });


            // initialize the map canvas to interact with later
            var canvas = map.getCanvasContainer();

            // add user's trip to the database
            var return_dict;
			function create_trip(start_location, destination){
                if (start_location !== "" && destination !== ""){
                    console.log(start_location + " --> " + destination);
                    //display();
                    var url = "";
                    var req = new XMLHttpRequest();
                    req.open('POST', url, true);
                    trip_schedule['start_location'] = start_location;
					trip_schedule['destination'] = destination;
					trip_schedule['num_days'] = num_days; 
                    var json_dict = JSON.stringify(dict);
                    console.log(json_dict);
                    req.send(json_dict);
                } else{
					document.getElementById("error_label").innerText = "Error: Need Start and End";
                }
            }

            console.log(origin_coords + " --> " + dest_coords);

            // get suggestions
            function getSuggestions(lng, lat) {
                // build url based on suggestion input
                var query = "";
                var categorySet = "";
                var icon = "";
                
                if(document.getElementById('hotels').checked) {
                    console.log("hotels clicked");
                    query = "hotel";
                    categorySet = "7314";
                    icon = "lodging";
                } else if(document.getElementById('restaurants').checked) {
                    console.log("restaurants clicked");
                    query = "restaurant";
                    categorySet = "7315";
                    icon = "restaurant";
                } else if (document.getElementById('nightlife').checked) {
                    console.log("nightlife clicked");
                    query = "bar";
                    categorySet = "9379";
                    icon = "bar";
                }

                url = 'https://api.tomtom.com/search/2/poiSearch/' + query + '.json?limit=20&lat=' + lat + '&lon=' + lng + '&radius=8046&categorySet=' + categorySet + '&key=ofA7qZAPku6DpZdRy3h56n5hZZ0g99t9'
                console.log(url);
                
                var result;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        result = data.results;
                        console.log(result);
                        addSuggestions(result, icon);
                    })
                    .catch(error => console.log(error));
            }

            function addSuggestions(result, icon) {
                // create the suggestions layer
                console.log(count);

                if(count > 0) {
                    console.log("in count if");
                    map.removeLayer('suggestions');
                    map.removeSource('suggestions');
                }

                var suggestions = {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': []
                    }
                }
                
                console.log(suggestions);

                for(let i = 0; i < result.length; i++) {
                    console.log(result[i].poi.name);
                    var poi = result[i].poi;
                    var address = result[i].address;

                    var newSuggestion = {
                        'type': 'Feature',
                        'properties': {
                            'description': 
                                '<strong>' + poi.name + '</strong>' +
                                '<p><a href="http://' + poi.url + '"' + 
                                'target="_blank" title="Opens in a new window">' +
                                poi.name + '</a> is located at:<br>' +
                                address.streetNumber + ' ' + address.streetName + '<br>' +
                                address.localName + ', ' + address.countrySubdivision + ' ' + address.postalCode + 
                                '<br>Phone: ' + poi.phone,
                            'icon': icon
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [result[i].position.lon, result[i].position.lat]
                        }
                    }

                    console.log(newSuggestion);

                    suggestions.data.features[i] = newSuggestion;
                }

                console.log(suggestions);
                map.addSource('suggestions', suggestions);

                // add the suggestions layer
                map.addLayer({
                    'id': 'suggestions',
                    'type': 'symbol',
                    'source': 'suggestions',
                    'layout': {
                        'icon-image': '{icon}-15',
                        'icon-allow-overlap': true
                    }
                });

                count++;
            }

            map.on('click', 'suggestions', function(e) {
                var coordinates = e.features[0].geometry.coordinates.slice();
                var description = e.features[0].properties.description;

                while(Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }

                new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(description)
                    .addTo(map);
            });

            map.on('mouseenter', 'suggestions', function() {
                map.getCanvas().style.cursor = 'pointer';
            });

            map.on('mouseleave', 'suggestions', function() {
                map.getCanvas().style.cursor = '';
            });
        </script>
    </body>
</html>
