{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Safar</title>
	<link href= "https://fonts.googleapis.com/css?family=Raleway" rel = "stylesheet">
    <link href= "https://fonts.googleapis.com/css?family=Dancing Script" rel = "stylesheet">
	<link href= "https://fonts.googleapis.com/css?family=Cookie" rel = "stylesheet">
	<link href= "https://fonts.googleapis.com/css?family=Amiri" rel = "stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>


<style>

.bird{

  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg");
  background-size: auto 100%;
  height:125px;
  width:86px;
  animation-name: fly;
  animation-duration: 1s;
  animation-timing-function:steps(10);
  animation-iteration-count: infinite;
}


.bird-cont{
  position:absolute;
  left:10% ;
  animation-name: birdFly;
  animation-duration: 10s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;


}
.bird2{
  animation-delay: 2s;
}

@keyframes birdFly {

  0% {transform: translateX(-10vw) translateY(0vh);}
  10% {transform: translateX(10vw) translateY(02vh);}
  20% {transform: translateX(30vw) translateY(04vh);}
  30% {transform: translateX(50vw) translateY(02vh);}
  40% {transform: translateX(70vw) translateY(0vh);}
  50% {transform: translateX(90vw) translateY(02vh);}
  60% {transform: translateX(110vw) translateY(04vh);}
  70% {transform: translateX(130vw) translateY(0vh);}
  80% {transform: translateX(150vw) translateY(02vh);}
  90% {transform: translateX(170vw) translateY(04vh);}
  100% {transform: translateX(190vw) translateY(0vh);}


}

@keyframes fly {
  from{background-position:900px;}
  to{background-position:0px;}
}

</style>



<body>

 <div class="bird-cont">
      <div class="bird">

      </div>
    </div>

    <div class="bird-cont bird2">
      <div class="bird">

      </div>
    </div>



    <header>
       <div class= "menu-toggler">
          <div class= "bar half start"></div>
          <div class= "bar"></div>
          <div class= "bar half end"></div>
       </div>
       <nav class= "top-nav">
          <ul class="nav-list">
             <li>
                <a href="{% url 'home' %}" class="nav-link">Home</a>  
             </li>  
             <li>
                <a href="{% url 'create_trip' %}" class="nav-link">Trip</a>  
             </li>
             <li>
                <a href="{% url 'about' %}" class="nav-link">About</a>  
             </li>  
             {% if user.is_authenticated %}
			   <li>
			     <a href="{% url 'user_account' %}"  class="nav-link">Account</a>
			   </li>
               <li>
                 <a href="{% url 'logout' %}" class="nav-link">Logout</a>  
               </li>
			 {% else %}
			   <li>
			     <a href="{% url 'login' %}" class="nav-link">Login</a>
			   </li>
               <li>
                 <a href="{% url 'signup' %}" class="nav-link">Signup</a>  
               </li>
			 {% endif %}

          </ul>    
       </nav> 
       <div class = "landing-text">
          <h1>Safar</h1>
          <h6>Welcome to Safar, get ready to travel with us!</h6>
       
	
	   </div>

    </header>

    <section class="about" id="about">
       <div class = "container">
          <div class= 'profile-img' data-aos="fade-right" data-aos-delay="300">
             <img src= "{% static 'img/profile.jpeg' %}" alt = "">
          </div>
          <div class= "about-details" data-aos="fade-left" data-aos-delay="600">
             <div class="about-heading">
                <h1>About</h1>
                <h6>Safar</h6>
             </div>
             <p>
               Safar is a road trip companion service that makes your road trips better. Through our technology, you get to plan your trip around the United States over any number of days you'd like. You'll also get suggestions for places to stay, eat, see, and so much more. Get ready to make your road trips seamless.            
             </p>
             <div class="social-media">
                 <ul class= "nav-list">  
                     <li>
                         <a href = "#" class="icon-link">
                             <i class= "fab fa-facebook-square"></i>
                         </a>
                     </li>  
                     <li>
                         <a href = "#" class="icon-link">
                             <i class= "fab fa-instagram"></i>
                         </a>
                     </li>  
 
             </div>
     

          </div>
         </div>

    </section> 

    <section class= "values" id="values">
       <div class= "container">
          <div class="section-heading">
             <h1>Our values</h1>
             <h6>Making road trips easier...</h6>
          </div>
          <div class="my-props">
             <div class= "prop" data-aos="fade-in" data-aos-delay="300">
                 <div class= "icon-container">
                    <i class="fas fa-lightbulb"></i>      
                 </div>
                 <h1>Easy</h1>             
                 <p>
                     Instead of getting lost between different websites trying to make your road trip great, Safar does all of the work for you. Just sit back, pack your bags, and leave the rest to us. 
                 </p> 
             </div>


             <div class= "prop" data-aos="fade-in" data-aos-delay="600">
                 <div class= "icon-container">
                    <i class="fas fa-lightbulb"></i>      
                 </div>
                 <h1>Multi-Function</h1>
                 <p>
                    Our technology helps you navigate between cities and states while also making your road trip experience that much more insightful and enriching. Prior to the trip, Safar helps you get all the stops you need so you don’t have to worry about getting lost, tired or confused.  
				 </p>              
             </div>

             <div class= "prop" data-aos="fade-in" data-aos-delay="900">
                 <div class= "icon-container">
                    <i class="fas fa-lightbulb"></i>      
                 </div>
                 <h1>Efficient</h1>
                 <p>
                     If you don't want to plan a trip and would just like to explore, there are multiple custom trips you can choose from that people have tried and recommended before.
                 </p>   
             </div>

          </div>
       </div>
    </section> 
 
 
    <section class= "destination" id="destination">
       <div class= "container">
          <div class="section-heading">
             <h1>Destination</h1>
             <h6>Let's showcase...</h6>
          </div> 
          <div class="destination-item">
              <div class="destination-img has-margin-right" data-aos="fade-right" data-aos-delay="300">
                 <img src="{% static 'img/destitem1.jpeg' %}" alt = "">
              </div>
              <div class="destination-description has-margin-right" data-aos="fade-left" data-aos-delay="600">
                 <h6>USA</h6>
                 <h1>Indiana</h1>
                 <p>
                     Indiana is known for its wide-ranging plains, the Indianapolis 500, and, of course, that Midwestern hospitality.
                 </p> 
				 <a href = "#" class="cta">View Details</a>
			 
              </div>
          </div>   


           <div class="destination-item">
             <div class="destination-description has-margin-right" data-aos="fade-right" data-aos-delay="900">
                 <h6>USA</h6>
                 <h1>California</h1>
                 <p>
                     Stretching from the Mexican border to the Northern Pacific, there might not be a better road-trip state than California. With cliff-lined beaches, redwood forests, mountain ranges, and deserts, you'll never get bored out here.
                 </p>
                 <a href = "#" class="cta">View Details</a>
 
              </div>      
              <div class="destination-img has-margin-right" data-aos="fade-left" data-aos-delay="1200">
                 <img src="{% static 'img/destitem2.jpeg' %}" alt = "">
              </div> 
          </div>

  
          <div class="destination-item">
              <div class="destination-img has-margin-right" data-aos="fade-right" data-aos-delay="1500">
                 <img src="{% static 'img/destitem3.jpeg' %}" alt = "">
              </div>
              <div class="destination-description has-margin-right" data-aos="fade-left" data-aos-delay="1800">
                 <h6>USA</h6>
                 <h1>Colorado</h1>
                 <p>
                     Colorado has a diverse landscape of arid desert, river canyons and snow-covered Rocky Mountains, which are partly protected by Rocky Mountain National Park. Elsewhere, Mesa Verde National Park features Ancestral Puebloan cliff dwellings. Perched a mile above sea level, Denver, Colorado’s capital and largest city, features a vibrant downtown area.
                 </p>   
                 <a href = "#" class="cta">View Details</a>
              </div>
          </div>    
       </div>
    </section> 


    <section class= "exploring" id="Exploring">
       <div class= "container">
          <div class="section-heading">
             <h1>Trip example</h1>
             <h6>Let's discover...</h6>
          </div> 
          <div class="timeline" data-aos="fade-down" data-aos-delay="300">
              <ul>

                 <li class="date" data-date="1">
                     <h1>Day 1</h1>
                 <p>
                     Denver to Moab, to see Arches National Park in the afternoon and evening.
                     Moab to Grand Canyon National Park with a stop in Monument Valley.
                 </p>  
                 </li>

                 <li class="date" data-date="2">
                     <h1>Day 2</h1>
                 <p>
                     Morning at Grand Canyon National Park, and to Las Vegas for the evening. See the Hoover Dam on the way!
                     Las Vegas to Mammoth Lakes through the sweltering Death Valley.
                 </p>  
                 </li>

                 <li class="date" data-date="3">
                     <h1>Day 3</h1>
                 <p>
                     Through Yosemite National Park on the 120 via Tioga Road. Finish in the great city of San Francisco.
                 </p>  
                 </li>

              </ul> 
         </div>

        </div>
    </section> 

 


    <section class= "contact" id="contact">
       <div class= "container">
          <div class="section-heading">
             <h1>Contact</h1>
             <h6>Let's stay in touch...</h6>
          </div>  
          <form action "" data-aos="fade-up" data-aos-delay="300">
             <label for="name">Name:</label>
             <input type="text" id="name" name="name" placeholder = "I'm Safar ! What's your name?" required>
             <label for="email">Email:</label>
             <input type="email" id="email" name="name" placeholder = "What's your email?" required>
             <label for="services">Services:</label>
             <select name="services" id="services">
                <option value="">Plan a trip</option>  
                <option value="">Subscribe</option>
                <option value="">Feedback</option>    
             </select>
             <label for="subject">Subject:</label>
             <textarea name="subject" id="subject" cols="10" rows ="10"></textarea>
             <input type="submit" value="Submit">
          </form>
       </div>
    </section>
 
    <footer class="copyright">
       <div class="up" id="up">
          <i class ="fas fa-chevron-up"></i> 
       </div>
	<p>&copy; 2020 Safar</p>
    </footer>
          

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
