body {
  background: url("img/sitebg.jpg") no-repeat center fixed;
}

.logo {
  font-size: 72px;
  font-family: 'Cookie';
  background: -webkit-linear-gradient(#FFAC33, #EE82EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: orange;
}

a:hover,
a:active {
  color: #CC5500;
}
